h1{
    color: aqua;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
        color: aqua;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
}

image{
    size: 5px;
}