h1{
    background-color: rgb(19, 160, 199);
    text-align: center;
    color: aliceblue;
    padding: 20px;
}

nav a{
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;

}

nav a:hover{
     color: rgb(244, 225, 19);
}
