h1{
    background-color: rgb(19, 160, 199);
    text-align: center;
    color: aliceblue;
    padding: 20px;
}

nav a{
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;

}

nav a:hover{
    color: rgb(244, 225, 19);
}

.contenedor{
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow:  0 0 10px rgb(0, 0, 130.1);
}

.contenedor h2{
    color: black;
    background-color: blueviolet;
}

.contenedor p{
    color: rgb(226, 206, 206);
    background-color: rgb(5, 4, 6);
    font-size: 16px;
}