body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(201, 155, 243);
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

header{
    background-color: rgb(242, 242, 157);
    color: black;
    text-align: center;
    padding: 20px;

}

section{
    margin: 20px;
    padding: 20px;
    background-color: rgb(201, 155, 243);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2{
    color: antiquewhite;

}

ul{
    list-style-type: none;
    padding: 0;

}

ul li{
    background-color: black;
    color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
